*{
  font-family: "Quicksand";
  margin: 10px;
  padding: 10px:
}

form{
  font-family: Quicksand, Helvetica, sans-serif;
  text-align: center; 
  background-color: #d3f0ec;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  background-color: #d3f0d3;
  font-family: "Lucida Console", "Courier New", monospace;
}
