*{
  margin: 10px;
  padding: 10px;
  font-family: Quicksand, Helvetica, sans-serif;
  text-align: center; 
}

form{
  background-color: #d3f0ec;
  column-count: 2;
  column-width: 200px; 
}

.scheduleForm{
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}


h1, h3, form{
  font-family: Quicksand, Helvetica, sans-serif;
}

h3{
  background-color: #ddf7cb;
  margin: 50px;
  border-radius: 15px;
}

h1{
  font-size: 80px;
}

/*Navigation Bar*/
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #95E4E8;
  color: #FFFFFF;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  background-color: #407C82;
}