*{
  margin: 10px;
  padding: 10px;
  font-family: Quicksand, Helvetica, sans-serif;
  text-align: center; 
}

form{
  background-color: #d3f0ec;
  width: 600px;
  padding: 50 px;
}

.scheduleForm{
  justify-content: center;
  align-items: center;
}



h1, h3, form{
  font-family: Quicksand, Helvetica, sans-serif;
}

h3{
  background-color: #d7daf5;
  margin: 200px;
}

